<h2>All armoire gears</h2>

<div class="table-container" style="height: 600px; max-width: 1000px">
  <p-table
    #dt1
    [value]="gears"
    sortField="set"
    [sortOrder]="1"
    [globalFilterFields]="['name', 'set', 'type']"
    [scrollable]="true"
    scrollHeight="flex"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (onClick)="clearFilters(dt1)"
        />
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt1.filterGlobal(searchValue, 'contains')"
            placeholder="Search by keyword"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name
          <p-sortIcon field="name" />
        </th>
        <th>Image</th>
        <th>Description</th>
        <th pSortableColumn="set">
          Set
          <p-sortIcon field="set" />
        </th>
        <th pSortableColumn="type">
          Type
          <p-sortIcon field="type" />
        </th>
        <th pSortableColumn="owned">
          Owned
          <p-sortIcon field="owned" />
        </th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            placeholder="Name"
            ariaLabel="Search by gear name"
            matchMode="contains"
            showClearButton="false"
          />
        </th>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter
            type="text"
            field="set"
            placeholder="Set name"
            ariaLabel="Search by set name"
            matchMode="contains"
            showClearButton="false"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="type"
            placeholder="Gear type"
            ariaLabel="Search by gear type"
            matchMode="contains"
            showClearButton="false"
          />
        </th>
        <th>
          <p-columnFilter
            type="boolean"
            field="owned"
            ariaLabel="Filter by owned or not"
            showClearButton="false"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vm>
      <tr>
        <td>{{ vm.name }}</td>
        <td>
          <img [src]="vm.icon" [alt]="vm.key" />
        </td>
        <td>{{ vm.description }}</td>
        <td>{{ vm.set }}</td>
        <td>{{ vm.type }}</td>
        <td>
          <p-tag *ngIf="vm.owned" severity="success" value="Owned" />
          <p-tag *ngIf="!vm.owned" severity="warning" value="Not owned" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
