<h2>All armoire gears</h2>

<div class="table-container" style="height: 600px; max-width: 1000px">
  <p-table
    #dt1
    [value]="gears"
    [sortMode]="'multiple'"
    [multiSortMeta]="defaultSort"
    [globalFilterFields]="['name', 'set', 'type']"
    [scrollable]="true"
    [scrollHeight]="'flex'"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="caption">

      <!-- Table controls -->
      <div class="table-controls-container">
        <!-- Global search input -->
        <p-iconField iconPosition="left" class="mr-2">
          <p-inputIcon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt1.filterGlobal(searchValue, 'contains')"
            placeholder="Search by keyword"
          />
        </p-iconField>

        <!-- Button to open table settings overlay-->
        <button pButton (click)="op.toggle($event)" icon="pi pi-sliders-v"
                [severity]="'secondary'"></button>

        <!-- Table settings -->
        <p-overlayPanel #op>
          <h3>Table settings</h3>
          <p-multiSelect
            display="chip"
            [options]="cols"
            [(ngModel)]="selectedColumns"
            optionLabel="header"
            placeholder="Choose columns" />
        </p-overlayPanel>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="isColumnSelected('name')" pSortableColumn="name">
          Name
          <p-sortIcon field="name" />
        </th>
        <th *ngIf="isColumnSelected('image')">Image</th>
        <th *ngIf="isColumnSelected('description')">Description</th>
        <th *ngIf="isColumnSelected('setFullName')" pSortableColumn="setFullName">
          Set
          <p-sortIcon field="setFullName" />
        </th>
        <th *ngIf="isColumnSelected('str')" pSortableColumn="str">
          Strength (STR)
          <p-sortIcon field="str" />
        </th>
        <th *ngIf="isColumnSelected('int')" pSortableColumn="int">
          Intelligence (INT)
          <p-sortIcon field="int" />
        </th>
        <th *ngIf="isColumnSelected('con')" pSortableColumn="con">
          Constitution (CON)
          <p-sortIcon field="con" />
        </th>
        <th *ngIf="isColumnSelected('per')" pSortableColumn="per">
          Perception (PER)
          <p-sortIcon field="per" />
        </th>
        <th *ngIf="isColumnSelected('type')" pSortableColumn="type">
          Type
          <p-sortIcon field="type" />
        </th>
        <th *ngIf="isColumnSelected('owned')" pSortableColumn="owned">
          Owned
          <p-sortIcon field="owned" />
        </th>
      </tr>
      <tr>
        <th *ngIf="isColumnSelected('name')">
          <p-columnFilter
            type="text"
            field="name"
            placeholder="Name"
            ariaLabel="Search by gear name"
            matchMode="contains"
            showClearButton="false"
          />
        </th>
        <th *ngIf="isColumnSelected('image')"></th>
        <th *ngIf="isColumnSelected('description')"></th>
        <th *ngIf="isColumnSelected('setFullName')">
          <p-columnFilter
            type="text"
            field="set"
            placeholder="Set name"
            ariaLabel="Search by set name"
            matchMode="contains"
            showClearButton="false"
          />
        </th>
        <th *ngIf="isColumnSelected('str')"></th>
        <th *ngIf="isColumnSelected('int')"></th>
        <th *ngIf="isColumnSelected('con')"></th>
        <th *ngIf="isColumnSelected('per')"></th>
        <th *ngIf="isColumnSelected('type')">
          <p-columnFilter
            type="text"
            field="type"
            placeholder="Gear type"
            ariaLabel="Search by gear type"
            matchMode="contains"
            showClearButton="false"
          />
        </th>
        <th *ngIf="isColumnSelected('owned')">
          <p-columnFilter
            type="boolean"
            field="owned"
            ariaLabel="Filter by owned or not"
            showClearButton="false"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vm>
      <tr>
        <td *ngIf="isColumnSelected('name')">{{ vm.name }}</td>
        <td *ngIf="isColumnSelected('image')">
          <img [src]="vm.icon" [alt]="vm.key" />
        </td>
        <td *ngIf="isColumnSelected('description')">{{ vm.description }}</td>
        <td *ngIf="isColumnSelected('setFullName')">{{ vm.setFullName }}</td>
        <td *ngIf="isColumnSelected('str')">{{ vm.str }}</td>
        <td *ngIf="isColumnSelected('int')">{{ vm.int }}</td>
        <td *ngIf="isColumnSelected('con')">{{ vm.con }}</td>
        <td *ngIf="isColumnSelected('per')">{{ vm.per }}</td>
        <td *ngIf="isColumnSelected('type')">{{ vm.type | titlecase }}</td>
        <td *ngIf="isColumnSelected('owned')">
          <ng-container *ngIf="vm.owned">
            <p-tag severity="success" value="Owned" />

            <div class="mt-1 flex">
              <p-button (onClick)="equipBattleGear(vm)" icon="pi pi-shield"
                        [loading]="vm.loading" size="small"
                        [severity]="vm.equipped ? 'danger' : 'secondary'"
                        [pTooltip]="vm.equipped ? 'Unequip battle gear' : 'Equip as battle gear'">
              </p-button>

              <p-button (onClick)="equipCostume(vm)" icon="pi pi-sparkles"
                        [loading]="vm.loading" size="small"
                        [severity]="vm.equippedAsCostume ? 'danger' : 'secondary'"
                        [pTooltip]="vm.equippedAsCostume ? 'Unequip costume' : 'Equip as costume'"
                        class="ml-1">
              </p-button>
            </div>
          </ng-container>

          <ng-container *ngIf="!vm.owned">
            <p-tag severity="warning" value="Not owned" />
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
