<div *ngIf="!loading && avatarInfoVm" class="habitica-avatar-container"
     [ngStyle]="{'background': 'url(https://habitica-assets.s3.amazonaws.com/mobileApp/images/background_'+avatarInfoVm.bgColor+'.png)'}">
  <div class="character-sprites">
    <!-- Skin -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.skinColor && avatarInfoVm.bodyType"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/skin_'+avatarInfoVm.skinColor+'.png'"
           class="character-sprite" alt="Skin">
    </span>
    <!-- Shirt (hidden behind armor if any) -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.shirtColor && avatarInfoVm.bodyType"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/'+avatarInfoVm.bodyType+'_shirt_'+avatarInfoVm.shirtColor+'.png'"
           class="character-sprite" alt="Shirt">
    </span>
    <!-- Armor -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.armor"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/broad_'+avatarInfoVm.armor+'.png'"

           class="character-sprite" alt="Armor item">
    </span>
    <!-- Hair -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.hairType && avatarInfoVm.hairColor"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/hair_bangs_'+avatarInfoVm.hairType+'_'+avatarInfoVm.hairColor+'.png'"
           class="character-sprite" alt="Hair">
    </span>
    <!-- Head/Helmet -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.head"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/'+avatarInfoVm.head+'.png'"
           class="character-sprite" alt="Head/helmet item">
    </span>
    <!-- Back -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.back"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/broad_'+avatarInfoVm.back+'.png'"
           class="character-sprite" alt="Back item">
    </span>
    <!-- Shield/off-hand item -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.shield"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/'+avatarInfoVm.shield+'.png'"
           class="character-sprite" alt="Off-hand item">
    </span>
    <!-- Main-hand item -->
    <span class="sprite-container">
      <img *ngIf="avatarInfoVm.weapon"
           [src]="'https://habitica-assets.s3.amazonaws.com/mobileApp/images/'+avatarInfoVm.weapon+'.png'"
           class="character-sprite" alt="Main-hand item">
    </span>
  </div>
</div>
