.habitica-avatar-container {
  position: relative;
  width: 141px;
  height: 147px;
  padding-top: 24px;
  image-rendering: pixelated;

  .character-sprites {
    position: absolute;
    left: 50%;
    transform: translate(-60%, -50%);
    top: 50%;
    width: 90px;
    height: 90px;

    .sprite-container {
      position: absolute;
      width: 90px;
      height: 90px;
    }

  }
}
