.card-list {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

  p-card {
    width: 230px;

    .card-content {
      max-height: 200px;
      overflow-y: auto;
    }

    .item-row {
      display: flex;
      align-items: center;

      img {
        width: 4rem;
      }
    }
  }
}
