<h2>Armoire sets</h2>

<form *ngIf="!!formGroup" [formGroup]="formGroup" class="flex mb-3">
  <div class="flex gap-1">
    <p-checkbox formControlName="showCompletedSets" inputId="showCompletedSets" [binary]="true" />
    <label for="showCompletedSets">Show completed sets</label>
  </div>
</form>

<div class="card-list">
  <p-card *ngFor="let set of gearSetsFiltered">
    <ng-template pTemplate="title">
      {{ set.key }}
    </ng-template>

    <ng-template pTemplate="subtitle">
      {{ set.value.nbItemsOwned + " out of " + set.value.nbOfItemsInSet + " owned" }} ({{
        set.value.progression
      }}%)
    </ng-template>

    <ng-template pTemplate="content">
      <div class="card-content">
        <div *ngFor="let item of set.value.items; index as i">
          <div class="item-row">
            <img [src]="item.gear.icon" [alt]="item.gear.key" />
            <div>
              <span>{{ item.gear.name }}</span> &nbsp;
              <p-tag *ngIf="item.gear.owned" severity="success" value="">
                <i class="pi pi-check" style="font-size: 0.8rem"></i>
              </p-tag>
            </div>
          </div>
          <p-divider *ngIf="i < set.value.items.length" />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <!-- View owned (or all?) gears on character -->
        <span pTooltip="Not yet available" class="w-full">
          <p-button label="View" icon="pi pi-eye" severity="secondary" disabled="true"
                    styleClass="w-full" />
        </span>
        <!-- Equip all owned gears in the set -->
        <span pTooltip="Not yet available" class="w-full">
          <p-button label="Equip" icon="pi pi-sparkles" disabled="true" styleClass="w-full" />
        </span>
      </div>
    </ng-template>
  </p-card>
</div>
