<div class="layout-topbar layout-topbar-sticky">
  <div class="layout-topbar-inner">

    <!-- Left side-->
    <div class="layout-topbar-left">
      <div class="layout-topbar-logo-container">
        <img class="app-logo" src="/h_lettering_light.jpg" alt="Letter H">
      </div>

      <div class="layout-topbar-menu-container">
        <app-menu></app-menu>
      </div>
    </div>

    <!-- Right side -->
    <div class="layout-topbar-right">
      <!-- Dark mode button -->
      <app-dark-mode-button></app-dark-mode-button>
      <p-divider layout="vertical" class="divider"/>
      <!-- External links-->
      <a class="p-button p-button-secondary p-button-icon-only" *ngFor="let link of links"
         [href]="link.url" [pTooltip]="link.tooltip" target="_blank" rel="noopener noreferrer">
        <i [class]="link.icon"></i>
      </a>
    </div>
  </div>
</div>


