<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 750px;
    margin: 3rem 0;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .left-side {
    max-width: 500px;
  }

  .divider {
    width: 2px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  /* TODO: Remove class based on child number and apply style to each element instead */
  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }

  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--bright-blue);
  }

  .pill-group .pill:nth-child(6n + 3) {
    --pill-accent: var(--hot-red);
  }

  .pill-group .pill:nth-child(6n + 4) {
    --pill-accent: var(--french-violet);
  }

  .pill svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1.5rem;
  }

  .social-links i {
    font-size: 1.4rem;
    transition: color 0.3s ease;
    color: var(--gray-400);
  }

  .social-links i:hover {
    color: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<app-topbar></app-topbar>

<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="header">
        <img class="app-logo" ngSrc="/h_lettering_light.jpg" width="863" height="888"
             alt="Letter H" priority>
        <span>
          <h1 class="title">Habitica Equipment Tracker</h1>
          <a class="pill app-version"
             [href]="'https://github.com/Blockost/habitica-equipment-tracker/releases/tag/'+version"
             target="_blank" rel="noopener">
            <span>v{{ version }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="14"
              viewBox="0 -960 960 960"
              width="14"
              fill="currentColor"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>
        </span>
      </div>
      <p>Come <b>{{ username ? username : "fellow Habitican" }}</b>, take a seat by the fire 🔥.</p>
      <p>
        Here, you will be able to discover new equipment that will aid you greatly in this journey
        as well as track your own inventory.
      </p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        <!-- TODO: Update links when ready -->
        @for (item of [
          {
            title: "Tool Wiki",
            link: "https://habitica.fandom.com/wiki/Habitica_Equipment_Tracker",
          },
          {
            title: "Explore the source code",
            link: "https://github.com/Blockost/habitica-equipment-tracker",
          },
          {
            title: "Any issue or suggestion ?",
            link: "https://github.com/Blockost/habitica-equipment-tracker/issues",
          },
          {
            title: "Go to Habitica",
            link: "https://habitica.com/",
          },
        ];
          track item.title) {
          <a class="pill" [href]="item.link" target="_blank" rel="noopener">
            <span>{{ item.title }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="14"
              viewBox="0 -960 960 960"
              width="14"
              fill="currentColor"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>
        }
      </div>
      <div>
        <p>About the author:</p>
        <div class="social-links">
          <a href="https://github.com/Blockost" aria-label="Github" target="_blank" rel="noopener">
            <i class="pi pi-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/simonespigole/"
            aria-label="Linkedin"
            target="_blank"
            rel="noopener"
          >
            <i class="pi pi-linkedin"></i>
          </a>
          <a
            href="https://blog.blockost.com"
            aria-label="Personal blog"
            target="_blank"
            rel="noopener"
          >
            <i class="pi pi-book"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="card">
      <p-accordion [(value)]="accordionActiveIndex">

        <p-accordion-panel value="0">
          <p-accordion-header>
            Enter your Habitica API credentials {{ !!username ? '✅' : '' }}
          </p-accordion-header>
          <p-accordion-content>
            <div class="mb-3">
              <div>
                This tool requires your
                <a href="https://habitica.fandom.com/wiki/API_Options" target="_blank"
                   rel="noopener"
                >Habitica API credentials</a
                >
                to contact
                <a
                  href="https://habitica.fandom.com/wiki/Application_Programming_Interface"
                  target="_blank"
                  rel="noopener"
                >Habitica API</a
                >
                on your behalf and retrieve information from your account. It is 100% safe to use.
                Your information will <b>never</b> be stored away or shared with any third-party
                application.
              </div>
            </div>

            <!-- todo: Update this logic to be based on auth data instead of username -->
            <div *ngIf="!!username">
              <p>
                Wonderful, <b>{{ username }}</b>, you are now authenticated ! Take a look below:
              </p>
              <br />
              <div class="flex gap-2">
                <p-button
                  label="Refresh"
                  type="button"
                  icon="pi pi-refresh"
                  severity="secondary"
                  (click)="refresh()"
                />
                <p-button
                  label="Clear all my data"
                  type="button"
                  icon="pi pi-eraser"
                  severity="warn"
                  (click)="reset()"
                />
              </div>
            </div>

            <form
              *ngIf="!username"
              class="credentials-form"
              [formGroup]="formGroup"
              (ngSubmit)="submitUserCredentials()"
            >
              <div class="form-input">
                <div class="form-label">
                  <label for="formcontrol-userId">User ID</label>
                </div>
                <div>
                  <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-user" />
                    <input
                      pInputText
                      id="formcontrol-userId"
                      type="text"
                      placeholder="User ID"
                      formControlName="userId"
                    />
                  </p-iconField>
                </div>
              </div>

              <div class="form-input">
                <div class="form-label">
                  <label for="formcontrol-api-token">API Token</label>
                </div>
                <div>
                  <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-lock" />
                    <input
                      pInputText
                      id="formcontrol-api-token"
                      type="password"
                      placeholder="API Token"
                      formControlName="apiToken"
                    />
                  </p-iconField>
                </div>
              </div>

              <p-checkbox
                formControlName="saveLocally"
                label="Save my information locally"
                value=""
                inputId="saveLocally"
                name="saveLocally"
                binary="true"
              />

              <p-button label="Submit" type="submit" [loading]="loading" />
            </form>
          </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
          <p-accordion-header>Your avatar</p-accordion-header>
          <p-accordion-content>
            <app-avatar></app-avatar>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>

    <div *ngIf="!!username" class="card mt-3">
      <p-tabView [activeIndex]="2">
        <!-- Stats -->
        <p-tabPanel header="Stats">
          <ng-template pTemplate="header">
            <i class="pi pi-chart-pie"></i>
            <span>Stats</span>
          </ng-template>

          <ng-template pTemplate="content">
            <app-stats-tab></app-stats-tab>
          </ng-template>
        </p-tabPanel>

        <!-- Grouped by sets -->
        <p-tabPanel header="Stats">
          <ng-template pTemplate="header">
            <i class="pi pi-box"></i>
            <span>By sets</span>
          </ng-template>

          <ng-template pTemplate="content">
            <app-grouped-by-sets-tab></app-grouped-by-sets-tab>
          </ng-template>
        </p-tabPanel>

        <!--Full table -->
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-table"></i>
            <span>Table</span>
          </ng-template>

          <ng-template pTemplate="content">
            <app-table-tab></app-table-tab>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <!-- TODO: add footer here + show app version -->
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
