/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  // TODO 2025-07-20 Blockost To enable dark theme, these variables should be defined as theme
  //  presets in theme.config.ts instead
  --ground-background: var(--p-surface-50);
  --card-background: #ffffff;
  --card-border: 1px solid var(--p-surface-200);
  --font-family: "Inter";
  --primary-text-color: var(--p-primary-600);
  --primary-color: var(--p-primary-color);
  --primary-contrast-color: var(--p-primary-contrast-color);
  --primary-hover-color: var(--p-primary-hover-color);
  --text-color: var(--p-surface-700);
  --text-secondary-color: var(--p-surface-500);
  --code-background-color: var(--p-surface-200) /* dark: --p-surface-700 */
}

html {
  font-size: 14px;
  margin: 0;
}

body {
  font-family: var(--font-family), sans-serif;
  font-weight: normal;
  background: var(--ground-background);;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.code {
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  background: var(--code-background-color);
}

// Utils
.w-full {
  width: 100% !important;
}

/*********************/
/* PrimeNG overrides */
/*********************/

.card {
  background: var(--card-background);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.p-divider.p-divider-horizontal {
  margin: 0.2rem 0;
}

.p-datatable-header {
  padding: .75rem 0 !important;
}

// Port from v17 to restraint table filter element width (avoid pushing against column size)
.p-fluid .p-inputtext {
  width: 100%;
}

a.p-button {
  text-decoration: none;
}
